/* new year */
body{
    font-family: 'Merriweather',serif;
}
.banner{
    background-image:url('../resources/Banner\ Image.png');
    
    /* top: 50px;
    left: 190px; */
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.banner::before{
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 background: rgba(0,0,0,0.6);
 border-radius: 12px;
}

.banner-smol,
.banner-big{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner-smol{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    top: 40%;
    /* margin: 177px 530px 383px; */
}
.banner-big{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    top: 50%;
    /* margin: 233px 344px 177px; */
}

/* 65%off */
.dis-off{
    width: 50%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
.sixty{
    font-family: 'Inter';
    text-align: center;
}
.sixty-five,
.holiday{
    color:#F00;
}
.sixty-five{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 25px;
    
}
.holiday{
 font-size: 24px;
 font-weight: 500;
 margin-bottom: 5px;
}
.all-cate{
    color: #070211;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
}

/* welcom party */
.welcome{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.welcome::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6); 
    border-radius: 12px;

}


.welcome-party,
.welcome-detail,
.welcome-join,
.twenty-four {
    position: absolute;
}
.welcome-party,
.welcome-detail,
.welcome-join{
 left: 0;
 /* margin-left: 126px; */
 /* margin-right: 120px; */
 width: 45%;
}
.twenty-four{
    right:0;
    margin-top: 68px;
    margin-right: 138px;
    margin-left: 20px;

}

.welcome-party,
.welcome-join{
 color: #FFF;
}
.welcome-detail,
.welcome-join{
    font-family: 'inter';
}

.welcome-party{
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 126px;
    margin-left: 126px;
    justify-content: center;
    align-items: center;
}
.welcome-detail{
    color: rgba(255, 255, 255, 0.80);
    margin-top: 330px;
    margin-left: 126px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
}
.welcome-join{
  margin-top: 400px;
  margin-left: 146px;
  /* text-align: center; */
 font-family: 'Inter';
 font-size: 20px;
 font-weight: 700;
}

/* place section */

.place{
    width: 1320px;
    height: 482px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg,rgba(255,0,0,0.10)0%,rgba(255,0,0,0.00)100%);
}

.place-date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 600;
}
.place-date span{
    color: #F00;
}

.join-c{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.join-b{
    display: flex;
    padding: 16px 32px;
    gap: 10px;
    text-transform: uppercase;
    background-color: #F00;
    color:#FFF;
    border: none;
}
.date-place{
    margin-top: 120px;
    margin-bottom: 5px;
}
.date-time{
    margin-top: 5px;
    margin-bottom: 5px;
}


/* holiday section */

.Holiday-discount{
    width: 1320px;   
    height: 600px; 
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;

}
.functional,
.holiday-sale,
.gift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.functional h4,
.holiday-sale h3,
.gift{
    margin: 0;
    padding: 10px;
}
.functional{
    color: #070211;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.holiday-sale{
    color: #070211;
    font-size: 50px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
}
.holiday-sale span{
    color: #F00;
}
.gift{
    color: rgba(7,2,17,0.60);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.shock{
    float: right;
    position: relative;
}
.discount{
    position: absolute;
    right: 27%;
    margin-top: 70px;

}
.gift-open{
    position: relative;
    float: left;
    z-index: 1;
}
.red-area{
    clear: both;
    position: absolute;
    margin-top: 400px;
    z-index: 0;
}
/* awesome portfolio */

.gallery-site{
    width: 1320px;
    height: 600px;
    margin-top: 420px;
    margin-left: auto;
    margin-right: auto;
}
.best-gifts,
.port-details{
 font-family: 'Inter';
}

.best-gifts h4,
.awe-port h3,
.port-details p{
   margin: 0;
   padding: 5px;
}
.best-gifts{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    

}
.awe-port{
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    
}
.port-details{
    color: rgba(7,2,17,0.60);
    font-size: 18px;
    font-weight: 400;
}
.img-gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}
.img-gallery img{
    flex-wrap: wrap;
    width: 424px;
    height: 450px;
    margin: 10px 0;
}

/* subscribe newsletter */
.newletter-sect{
    width: 1320px;
    height: 616px;
    margin-top: 570px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background: rgba(255,0,0,0.05);
}
.email-ico,
.sub-new,
.sub-para,
.sub-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sub-new h3,
.sub-para p{
 margin: 0;
 padding: 5px;
}
.email-ico{
    position: relative;
    top: 80px;
}
.sub-new{
 margin-top: 120px;
 color: #070211;
 font-size: 40px;
 font-weight:900;
}
.sub-para{
 margin-top: 10px;
 color: rgba(7,2,17,0.60);
 font-family: 'Inter';
 font-size: 20px;
 font-weight: 400;
}
.sub-box{
    margin-top: 80px;
    /* width: 100%; */
}
input{
    display: inline-block;
    font-family: 'Inter';
    font-size: 18px;
    font-family: 400;
}
input[type="text"]{
    color: rgba(7,2,17,0.60);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    background: #FFF;
    width: 450px;
    height: 72px;
    border: none;
    outline: none;
    padding: 0 25px;
    /* border-radius: 50px 0 0 50px; */
} 
input[type="submit"]{
    left: -8px;
    border-radius: 0 50px 50px 0;
    width: 210px;
    height: 72px;
    border: none;
    outline: none;
    color: #FFF;
    background: #F00;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

}


/* footer section */

footer{
    width: 100%;
    height: 609px;
    margin-top: 120px;
    background-color: #070211;
}
.address-f,
.icon-link,
.last-least-container{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.add-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.address-f{
    width: 40%;
    margin-right: 40px;
}
.icon-link a{
    text-decoration: none;
    color: #FFF;
}

.icon-link{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.icon-link img{
   margin-right: 15px;
}
.social-links{
    display: flex;
    justify-content:center;
    margin: 40px;

}
.social-links div{
    margin: 0 5px;
}
hr{
    width: 1320px;
    height: 1px;
    background: rgba(255,255,255,0.18);
    border: none;
}
/* .fb,
.insta,
.twitter,
.linkdn div{
    margin: 0 5px;
} */

.last-least-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.para-1{
    width: 40%;
    margin-right: 150px;
}